@import "../../global.scss";

$font-family: 'Quicksand', sans-serif;

.skills-section {
  background-color: #010911;
  // padding: 50px 0;
  text-align: center;
  overflow: hidden;

  h2 {
    font-size: 35px;
    font-family: $font-family;
    font-weight: 600;
    background: linear-gradient(20deg,#7dd596 33.34%,#64bded 60.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include mobile {
      font-size: 20px;
      margin-bottom: 1px;
    }

  }
}

.skills-container {
  .languages {
    display: flex;
    margin-right: 30px;

    @include mobile {
      margin-left: 30px;

    }
   
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  
  @include mobile {
    max-width: 700px;

  }
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: #010d17;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(12, 11, 11, 0.1);
  transition: all 0.3s ease-in-out;
  width: 80px;
  height: 100px;

  @include mobile {
    height: 17%;
    width: 5%;
    margin: 8px;
    padding: 15px;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 10px rgba(71, 135, 135, 0.876);
  }

  img {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
    
    &:hover {
      transform: scale(1.8);
    }
    @include mobile {
      width: 20px;
      height: 20px;
    }
  }

  h3 {
    font-size: 12px;
    //font-weight: 600;
    color: #e8dede;
    //text-transform: uppercase;
    font-family: $font-family;

    @include mobile {
      font-size: 9px;;
    }
  }
}
