
.footer {
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg,#1c1b41 2.34%,#db55a3 150.78%);


    .footer__text {
        margin-top: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
  
    }
}
// .footer {
//     //background-color:#606264;
//     //color: rgb(0, 0, 0);
//     background: linear-gradient(90deg,#1c1b41 2.34%,#4bc1c3 100.78%);
    
//     width: 100%;
//     height: 20%;
//     position: absolute;
//     top: 0;
//     z-index: 3;
//     transition: all 1s ease; 
//     color: rgb(239, 232, 135);
// }